<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="QPOS2008.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <startup><supportedRuntime version="v2.0.50727"/></startup><applicationSettings>
  <QPOS2008.Properties.Settings>
   <setting name="QPOS2010_nz_co_gcloud_rst_CGPOSService" serializeAs="String">
    <value>http://rst.gcloud.co.nz/service/item.asmx</value>
   </setting>
  </QPOS2008.Properties.Settings>
 </applicationSettings>
</configuration>
